{% extends 'base.html'%}
{% block content %}
  <body>  
    <main>
        <div>
          <div class="container">
            <div class="d-flex content-center" id="login-box">
              <div class="d-flex flex-column" style="margin:20px">
              <h1 style="margin:30px">Minerva</h1>
              <h3>Where homework dreams come true!</h3>
            </div>
            </div>
          </div>
      </div>
    </main>
  </body>
{% endblock %}
<!--figure out how to use bootstrap to move buttons in the right place,(right) per user(prototype with student)-->

