{% extends 'base.html'%}
{% block content%}
<main class="container">
    <table class="table table-striped">
        <thead>
           
            <th scope="col2">Assignment</th>
            <th scope="col5">Category</th>
            <th scope="col5">Due Date</th>
        </thead>
        <tbody>
            {%for ass in assignments.all %}
            <tr>
                <td>{{ass.name}}</td>
                <td>{{ass.category}}</td>
                <td>{{ass.due_date}}</td>
                <td><a href="{ url 'Assignment_details'}">Details</a> </td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
</main>
{% endblock %}